* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  letter-spacing: 3px;
  color: #522d1d;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
}



h1,
h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  font-size: 35px;
  line-height: 55px;
}

a {
  text-decoration: none;
}




header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #bfeaf9;
  background-image: url(../img/world_header.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 150%;
  overflow: hidden;
}

/* logo in navigation */

nav a.logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 12vh;
  transition: 0.5s;
}

/* navigation */

nav {
  position: relative;
  top: 5%;
  left: 2%;
  width: 96%;
  height: 20%;
  background-color: #E6F5FB;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #50a4b5;
  transition: 0.5s;
}

ul.left-nav {
  display: flex;
  align-items: center;
  float: left;
  height: 100%;
  margin-left: 30px;
}

ul.right-nav {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 150px;
}

li {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 0 15px;
}

li a {
  display: block;
  color: #522d1d;
  padding: 0 15px;
  border: 3px solid transparent;
  transition: .3s;
}

nav span {
  display: block;
  font-size: 8px;
}

/* ---------------------------------------------- drop down menu -------------*/

.drop-down-menu .visible-link {
  width: 11vw;
  z-index: 2;
  position: relative;
}

.drop-down-menu ul {
  width: 11vw;
  position: absolute;
  text-align: center;
  border: 3px solid transparent;
  transition: .7s;
  opacity: 0;
  visibility: hidden;
  padding-top: 10px;
  z-index: 1;
  transform: translateY(-10px);
}

.drop-down-menu ul li {
  display: block;
  padding: 0;
  margin: 0;
}

.drop-down-menu:hover>ul {
  background-color: #bfeaf9;
  border: 3px solid #E6F5FB;
  border-radius: 5px;
  opacity: 1;
  visibility: visible;
}

.drop-down-menu:hover .visible-link {
  background-color: #bfeaf9;
  border-radius: 20px;
  border: 3px solid #E6F5FB;
  padding: 10px 15px;
}

.visible-link:hover {
  background-color: #bfeaf9;
  border-radius: 20px;
  border: 3px solid #E6F5FB;
  padding: 10px 15px;
}

/*------------------------------------------ script js scroll fixed menu----- */

nav.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  z-index: 2;
  box-shadow: 0px 10px 10px -15px #111;
}

nav.active a.logo img {
  height: 10vh;
  transition: 0.3s;
}

/*------------------------------------------------- shop icon ---------*/

.shop-icon i {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  font-size: 25px;
  color: #50a4b5;
  transition: .3s;
}

.shop-icon i:hover {
  transform: scale(1.5) translateY(-25%);
}

/* ----------------------------------------------- text h1 position --------- */

.header {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* ----------------------------------------------- clouds animation ---------*/

.clouds>div {
  position: absolute;
  left: -250px;
}

.cloud1 {
  top: 45%;
  transform: scale(0.8);
  animation: cloud 25s linear infinite;
}

.cloud2 {
  top: 50%;
  transform: scale(0.6);
  animation: cloud 25s 3s linear infinite;
}

.cloud3 {
  top: 55%;
  transform: scale(1);
  animation: cloud 30s 7s linear infinite;
}

.cloud4 {
  top: 40%;
  transform: scale(0.6);
  animation: cloud 40s 9s ease infinite;
}

.cloud5 {
  top: 35%;
  transform: scale(1.1);
  animation: cloud 30s 10s linear infinite;
}

.cloud {
  height: 15px;
  width: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
}

.cloud::before,
.cloud::after {
  background-color: #fff;
  position: absolute;
  content: "";
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.cloud::before {
  height: 30px;
  width: 70px;
  top: -100%;
  left: 55%
}

.cloud::after {
  height: 25px;
  width: 60px;
  top: -90%;
  left: 15%;
}

@keyframes cloud {
  100% {
    transform: translateX(120vw);
  }
}

/* ------------------------------------- animation ballon on header --------- */

.balloon-green {
  height: 35%;
  position: absolute;
  top: 40%;
  right: 8%;
  animation: balloon-green 3s linear infinite;
  z-index: 1;
}

@keyframes balloon-green {
  25% {
    top: 38%;
  }

  50% {
    top: 40%;
  }

  75% {
    top: 42%;
  }

  100% {
    top: 40%;
  }
}

/*  ---------------------------------------------- section 2 info ---------- */

.section-info {
  position: relative;
  background-color: #ffcfd0;
  background-image: url(../img/world_strawberr.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

/* ------------------------------- section wrapper in section info --------*/

div.wrapper {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
}

.straw-banner,
.crispy-banner {
  width: 90%;
  display: block;
  margin: 0 auto;
  padding: 70px 0 30px 0;
}

.wrapper p {
  padding-top: 20px;
}

.label {
  margin: 0 auto;
  padding: 50px 0 400px 0;
}

.label img {
  width: 20%;
  padding: 0 20px;
}

/*------------------------------- strawberry cream packag  ------------------ */

.straw-cream,
.cinn-crispy {
  height: 45%;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* ------------------------------- animation ballon ------------------------- */

.balloon {
  position: absolute;
  top: -5%;
  left: 4%;
  height: 40%;
  animation: balloon 5s linear infinite;
}


@keyframes balloon {
  25% {
    top: -8%;
  }

  50% {
    top: -5%;
  }

  75% {
    top: -2%;
  }

  100% {
    top: -5%;
  }
}

/* ------------------------------- section 3 kinds of mallow --------------- */

.kinds-of-mallow {
  background-color: #f05d76;
  padding: 150px 0 80px 0;
}

.kinds-of-mallow div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 60px;
}

.kinds-of-mallow div img {
  width: 20%;
}

/* ------------------------------- button -----------------------------------*/

.button {
  margin: 0 auto;
  display: block;
  font-size: 20px;
  overflow: hidden;
  z-index: 1;
  font-weight: 800;
  padding: 10px 50px;
  border-radius: 50px;
  letter-spacing: 2px;
  border: 3px solid #ffcfd0;
}


.link-btn1 {
  position: relative;
  color: #ffcfd0;
  background-color: #f05d76;
}

.link-btn1::before {
  content: "";
  width: 0;
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #522d1d;
  transition: .5s;
  z-index: -1;
}

.link-btn1:hover::before {
  width: 100%;
}

/* ------------------------------- section info blue ----------------------- */

.section-blue-info {
  position: relative;
  background-color: #d1ddd3;
  background-image: url(../img/churro_background.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}


div.wrapper70 {
  max-width: 70%;
}

.balloon.blue {
  height: 30%;
}

/* button blue */

.div-btn2 {
  position: relative;
  background-color: #26a6b9;
  min-height: 50vh;
}

.link-btn2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #bfeaf9;
  color: #bfeaf9;
  background-color: #26a6b9;
}

.link-btn2::before {
  content: "";
  width: 0;
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #522d1d;
  transition: .5s;
  z-index: -1;
}

.link-btn2:hover::before {
  width: 100%;
}

.ingredients {
  position: relative;
  background-color: #f9f8ef;
  margin: 0 auto;
  text-align: center;
}

.ingredients h2 {
  padding-top: 50px;

}

.ingred img {
  width: 15%;
  padding: 50px 30px;
}

.balloon.yellow {
  height: 60%;
  left: 2%;
}

/* section smashup */

.smashup {
  background-image: url(../img/fruites_bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;

}

.smashup>div {
  padding: 50px 20px 0 0;
  max-width: 50%;
  float: right;
}

.smashup h2 {
  color: #50955f;
  padding-bottom: 20px;
}

.smashup p {
  font-size: 18px;
}

.link-btn3 {
  position: relative;
  margin-top: 30px;
  color: #50955f;
  border-color: #50955f;
  text-align: center;
}

.link-btn3::before {
  content: "";
  width: 0;
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #522d1d;
  transition: .5s;
  z-index: -1;
}

.link-btn3:hover::before {
  width: 100%;
}

/* section learmore smash */



.learn-more {
  position: relative;
  min-height: 100vh;
  background-image: url(../img/hero_home.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.learn-more>div {
  max-width: 50%;
  padding: 100px 0 0 20px;
}

.learn-more h2 {
  padding-bottom: 20px;
}

.learn-more p {
  font-size: 18px;
  line-height: 25px;
}

.link-btn4 {
  position: relative;
  margin-top: 30px;
  color: #522d1d;
  border-color: #522d1d;
  text-align: center;
  transition: .5s;
}

.link-btn4::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #522d1d;
  transition: .5s;
  z-index: -1;
}

.link-btn4:hover::before {
  width: 100%;
}

.link-btn4:hover {
  color: white;
}

.products {
  padding: 100px 50px;
}

.products h2 {
  padding-bottom: 30px;
}

.product {
  display: flex;
}

.product img {
  width: 18%;
  padding-left: 50px;
}

/* section love */


section.love {
  background-image: url(../img/lunchbox_love.jpg);
  min-height: 90vh;
  background-size: 140%;
  background-position: 50% 50%;
  color: #d6525f;
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding-top: 30%;
}

.link-btn5 {
  position: relative;
  margin-top: 20px;
  width: 35%;
  color: #fff;
  border-color: #fff;
  text-align: center;
  transition: .5s;
}

.link-btn5::before {
  content: "";
  width: 0;
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #522d1d;
  transition: .5s;
  z-index: -1;
}

.link-btn5:hover::before {
  width: 100%;
}

.link-btn5:hover {
  color: white;
}


/* section footer i form */

.footer-img {
  background-image: url(../img/world_footer.png);
  min-height: 50vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  border-bottom: 3px solid #50955f;
}

.email-signup {
  margin: 40px 0;
  text-align: center;
}

.email-signup span {
  display: inline;
  text-transform: uppercase;

}

form {
  display: inline-block;
  position: relative;
  width: 30%;
  padding-left: 20px;
}

form input {
  width: 100%;
  border: 3px solid #50955f;
  border-radius: 30px;
  border-radius: 30px;
  padding: 20px 40px 20px 20px;
  font-size: 18px;
  color: #50955f;
}

form input:focus {
  outline: none;
}

form button {
  position: absolute;
  right: 5%;
  top: 50%;
  border: none;
  background-color: transparent;
  transform: translate(-5%, -50%);
}


form button img {
  transition: .3s;
}

form button img:hover {
  transform: scale(1.2);
}


footer {
  background-image: url(../img/bg_footer.jpg);
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 30px 0;
  font-size: 14px;
  line-height: 25px;
}

.links {
  display: flex;
  justify-content: space-around;
}

footer div h3 {
  padding-bottom: 25px;
}

footer div a {
  font-size: 12px;
  font-family: 'Nanum Gothic', sans-serif;
  color: #fff;
  display: block;
}


.follow-footer {
  text-align: center;
}


.follow-footer a {
  display: inline-block;
  padding: 0 10px;
}

.follow-footer i {
  text-align: center;
  line-height: 44px;
  width: 48px;
  color: #C271A2;
  font-size: 20px;
  border: 2px solid #C271A2;
  border-radius: 50%;
  transition: .3s
}

.follow-footer i:hover {
  color: #fff;
  background-color: #C271A2;
  transform: scale(1.2);
}


.copyright {
  width: 100%;
  color: rgba(255, 255, 255, 0.63);
  padding-top: 80px;
  text-align: center;
  font-size: 10px;
  letter-spacing: 3px;
}


.popup {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 7vh;
  font-size: 16px;
  background-color: #522d1d;
  text-transform: uppercase;
  color: white;
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  line-height: 7vh;
  z-index: 2;
}

.popup span {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  font-family: arial;
}

.modal-window {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.modal-window-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-active {
  display: block;
}

.modal-window-img img {
  width: 100%;
}

.modal-window-img span {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 20px;
  position: absolute;
  color: white;
  cursor: pointer;
}
