* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 200vh;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #bfeaf9;
  background-image: url(img/world_header.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 140%;
  overflow: hidden;
}

/* logo in navigation */

nav a.logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 12vh;
  transition: 0.5s;
}

/* navigation */

nav {
  position: relative;
  top: 5%;
  left: 2%;
  width: 96%;
  height: 20%;
  background-color: #E6F5FB;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #50a4b5;
  letter-spacing: 3px;
  transition: 0.5s;

}

ul.left-nav {
  display: flex;
  align-items: center;
  float: left;
  height: 100%;
  margin-left: 30px;
}

ul.right-nav {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 150px;
}

li {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 0 15px;
}

li a {
  display: block;
  text-decoration: none;
  color: #522d1d;
  padding: 0 15px;
  border: 3px solid transparent;
  transition: .3s;
}

span {
  display: block;
  font-size: 8px;
}

/* drop down menu */

.drop-down-menu .visible-link {
  width: 11vw;
  z-index: 2;
  position: relative;
}

.drop-down-menu ul {
  width: 11vw;
  position: absolute;
  text-align: center;
  border: 3px solid transparent;
  transition: .7s;
  opacity: 0;
  visibility: hidden;
  padding-top: 10px;
  z-index: 1;
  transform: translateY(-10px);
}

.drop-down-menu ul li {
  display: block;
  padding: 0;
  margin: 0;
}

.drop-down-menu:hover>ul {
  background-color: #bfeaf9;
  border: 3px solid #E6F5FB;
  border-radius: 5px;
  opacity: 1;
  visibility: visible;
}

.drop-down-menu:hover .visible-link {
  background-color: #bfeaf9;
  border-radius: 20px;
  border: 3px solid #E6F5FB;
  padding: 10px 15px;
}

.visible-link:hover {
  background-color: #bfeaf9;
  border-radius: 20px;
  border: 3px solid #E6F5FB;
  padding: 10px 15px;
}

/* script js scroll fixed menu */

nav.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  z-index: 2;
  box-shadow: 0px 10px 10px -15px #111;
}

nav.active a.logo img {
  height: 10vh;
  transition: 0.3s;
}

/* shop icon */

.shop-icon i {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  font-size: 25px;
  color: #50a4b5;
  transition: .3s;
}

.shop-icon i:hover {
  transform: scale(1.5) translateY(-25%);
}

/* text h1 */

.header {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

h1 {
  line-height: 60px;
  word-spacing: 3px;
}

.header h1,
h2 {

  font-size: 38px;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #522d1d;
}

/* clouds animation */

.clouds>div {
  position: absolute;
  left: -250px;
}

.cloud1 {
  top: 45%;
  transform: scale(0.8);
  animation: cloud 25s linear infinite;
}

.cloud2 {
  top: 50%;
  transform: scale(0.6);
  animation: cloud 25s 3s linear infinite;
}

.cloud3 {
  top: 55%;
  transform: scale(1);
  animation: cloud 30s 7s linear infinite;
}

.cloud4 {
  top: 40%;
  transform: scale(0.6);
  animation: cloud 40s 9s ease infinite;
}

.cloud5 {
  top: 35%;
  transform: scale(1.1);
  animation: cloud 30s 10s linear infinite;
}

.cloud {
  height: 15px;
  width: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
}

.cloud::before,
.cloud::after {
  background-color: #fff;
  position: absolute;
  content: "";
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.cloud::before {
  height: 30px;
  width: 70px;
  top: -100%;
  left: 55%
}

.cloud::after {
  height: 25px;
  width: 60px;
  top: -90%;
  left: 15%;
}

@keyframes cloud {
  100% {
    transform: translateX(120vw);
  }
}

/* animation ballon */

.balloon-green {
  height: 35%;
  position: absolute;
  top: 40%;
  right: 8%;
  animation: balloon-green 3s linear infinite;
  z-index: 1;
}

@keyframes balloon-green {
  25% {
    top: 38%;
  }

  50% {
    top: 40%;
  }

  75% {
    top: 42%;
  }

  100% {
    top: 40%;
  }
}


/* font-family: 'Archivo Black', sans-serif;
font-family: 'Nanum Gothic', sans-serif; */
